<!DOCTYPE HTML>
<html lang="<%= @item[:language] %>">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= @item[:description] %>">

    <title><%= @item[:title] %></title>

    <style type="text/css">
      body{font:18px/1.4 system-ui,sans-serif;margin:auto;max-width:40em;padding:0 1em}img,video{max-width:100%;height:auto}@media (max-width:375px){body{font-size:.9em}}@media (max-width:320px){body{font-size:.8em}}code,kbd,pre{font-family:SF Mono,Monaco,monospace}pre{background-color:#f8f8ff;font-size:.9em;overflow:auto;padding:1em}table{border-collapse:collapse;width:100%}td,th{padding:.5em;border:1px solid}
    </style>
  </head>
  <body>
  <% if @item[:language] == 'de' %>
    <p>
      STRAVID - Gemeinsam Software bauen.
    </p>

    <%= yield %>

    <hr>

    <p>
      Du hast Fragen, Ideen oder Anregungen? Ich lese gerne von dir und freue mich auf einen Austausch von Gedanken. Schreib mir an <a href="mailto:david@strauss.io">david@strauss.io</a> und sag “Hallo”.
    </p>

    <p>
      <a href="javascript:window.location.pathname = '/' + (Math.floor(Math.random() * <%= @config[:max_id] %>) + 1) + '/';">Zufällige Seite</a>
      <br>
      <a href="/sitemap.html">Sitemap</a>
      <br>
      <a href="/impressum">Impressum</a>
      <br>
      <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
    </p>
  <% end %>

  <% if @item[:language] == 'en' %>
    <p>
      <a href="/home">&larr; Home</a> &middot; <a href="/">Auf Deutsch wechseln</a>
    </p>

    <%= yield %>

    <hr>

    <p>
      Please send an email to <a href="mailto:david@strauss.io">david@strauss.io</a>, I'm looking forward to hear from you.
      <br>
      For <a href="https://www.edgycircle.com">commercial IT projects edgycircle.com</a> is the right place to go.
    </p>

    <p>
      <a href="javascript:window.location.pathname = '/' + (Math.floor(Math.random() * <%= @config[:max_id] %>) + 1) + '/';">Random Page</a>
      <br>
      <a href="/sitemap.html">Sitemap</a>
      <br>
      <a href="/impressum">Imprint</a>
      <br>
      <a href="/datenschutzerklaerung">Privacy Policy</a>
    </p>
  <% end %>

  </body>
</html>
